/* Initializing CSS */

.output{
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
}

body{
    background-image: url("../images/fortune-cookie.jpg");
}