/* Initializing CSS */

.output{
    display: flex;
    align-content: center;
    justify-content: center;
}

.input-style{
    display: flex;
    align-content: center;
    justify-content: center;
}

body{
    background-image: url("../images/fortune-cookie.jpg");
}